.searchbar {
  display: inline-block;
  list-style: none;
  text-align: center;
  border: 1px solid #e7e7e7;
  background-color: white;
  width: 100%;
}

.searchbar-form {
  display: inline-block;
  float: none;
  line-height: 100%;
  .form-group {
    padding: 10px;
    float: left;
    button{
      margin-top: 40px;
    }
  }
}

