<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <script type="text/javascript" src="/js/package.js"></script>

    <title>Find My Gigs - Venues</title>
</head>

<body ng-app="tester" ng-controller="MainCtrl">
<header>
    <div class="brand">Music - Venue</div>
    <img class="img-responsive center-block img-brand" src="http://via.placeholder.com/700x200" alt="Placeholder image"
         width="700px" height="200px">
</header>

<!-- Navigation -->
<nav class="navbar navbar-default" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#main-navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
            <a class="navbar-brand" href="index.html">Music - Venue</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="main-navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/artists">Browse Artists</a>
                </li>
                <li>
                    <a href="/venues">Browse Venues</a>
                </li>
                <li>
                    <a href="/members">Members Area</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>


<nav role="navigation" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="http://neo4j.com/developer/resources">
                <img height="100%" class="pull-left"
                     src="https://neo4j-contrib.github.io/developer-resources/language-guides/assets/img/logo-white.svg"
                     alt="Neo4j World's Leading Graph Database" id="logo">
                The Band List
            </a>

        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li>
                    <form role="search" class="navbar-form" id="search">
                        <div class="form-group">
                            <input type="text" value="Rock" placeholder="Search for Genre" class="form-control"
                                   name="search">
                        </div>
                        <button class="btn btn-default" type="submit">Search</button>
                    </form>
                </li>
            </ul>
        </div>


    </div>
</nav>

<section ng-controller="VenueController" class="venue-information">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">
                    <table id="results" class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>Venue name</th>
                            <th>Capacity</th>
                            <th>Location</th>
                            <th>Preferred Genres</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <form novalidate class="simple-form">
                                <td><input type="text" ng-model="venue.name"/></td>
                                <td><input type="number" ng-model="venue.capacity" min="0"/></td>
                                <td><input type="text" ng-model="venue.location"/></td>
                                <td><select ng-model="venue.genres" ng-options="genre for genre in db_genres">
                                    <option value="">--Select--</option>
                                </select>
                                </td>
                                <td>
                                    <button ng-click="sendVenue(venue)">Submit Venue</button>
                                </td>
                            </form>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!--<div class="table-responsive">-->
                    <!--&lt;!&ndash;<table id="results" class="table table-striped table-hover">&ndash;&gt;-->
                    <!--&lt;!&ndash;<thead>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Venue name</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Capacity</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Location</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;<th>Preferred Genres</th>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;</thead>&ndash;&gt;-->
                    <!--&lt;!&ndash;<tbody>     &ndash;&gt;-->
                    <!--&lt;!&ndash;<tr ng-repeat="other_venue in other_venues">&ndash;&gt;-->
                    <!--&lt;!&ndash;<td>{{other_venue.name}}</td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td><pre>{{other_venue.capacity}}</pre></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td><pre>{{other_venue.location}}</pre></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;<td><pre>{{other_venue.genres}}</pre></td>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tr>&ndash;&gt;-->
                    <!--&lt;!&ndash;</tbody>&ndash;&gt;-->
                    <!--&lt;!&ndash;</table>&ndash;&gt;-->
                <!--</div>-->
                <div class="col-xs-12 col-md-6 col-lg-3" ng-repeat="other_venue in other_venues" >
                    <div class="card">
                        <h4>{{other_venue.name}}</h4>
                        <ul>
                            <li>Location: {{other_venue.location}}</li>
                            <li>Capacity: {{other_venue.capacity}}</li>
                            <li>Location: {{other_venue.genres}}</li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>

<style type="text/css">
    .node {
        stroke: #222;
        stroke-width: 1.5px;
    }

    .node.actor {
        fill: #888;
    }

    .node.movie {
        fill: #BBB;
    }

    .link {
        stroke: #999;
        stroke-opacity: .6;
        stroke-width: 1px;
    }

    .navbar-brand {
        padding: 0;
        line-height: 50px;
    }
</style>

<!--jQuery js file has to be loaded last. :/ -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

</body>
</html>
